<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Categories Database:</title>
</head>
<body>
<br>
<h2>Example query result:</h2>
<p>The average hard disk size of PCs : {{ out1 }}</p><br>
<p>The average speed of laptop for each maker</p>
<table>
    <thead>
        <tr>
            <th>Product maker | </th>
            <th>Number of products | </th>
            <th>Average speed of laptop</th>
        </tr>
    </thead>
{% for i in out2 %}
    <tr>
        <td>{{ i.maker }}</td>
        <td>{{ i.num }}</td>
        <td>{{ i.avg }}</td>
    </tr>
{% endfor %}
</table>
<br>
<p>The price of laptop, which is the only laptop model of the maker</p>
<table>
    <thead>
        <tr>
            <th>Laptop model | </th>
            <th>price </th>
        </tr>
    </thead>
{% for i in out3 %}
    <tr>
        <td>{{ i.model }}</td>
        <td>{{ i.price }}</td>
    </tr>
{% endfor %}
</table>
<br>
<p>The model and price of the printer of the highest price of each maker</p>
<table>
    <thead>
        <tr>
            <th>Product maker | </th>
            <th>price | </th>
            <th>Printer model</th>
        </tr>
    </thead>
{% for i in out4 %}
    <tr>
        <td>{{ i.maker }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.model }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>
